// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toptitle{
  font-family: "HG行書体";
  font-size: 60px;
}

.topmessage{
  color: #93FFAB;
}

.top-photo{
  background-image: url("job-interview.jpg");
  background-size:  cover;
  opacity: 0.9;
  width: 100%;
  height: auto;
  
}